<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Cars</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Cars</h1>
	<div th:if="${!cars.empty}">
		<table>
			<tr>
				<th>Driver ID</th>
				<th>VIN</th>
				<th>Insurance Verified?</th>
				<th>Color</th>
				<th>Make</th>
				<th>Model</th>
				<th>Plate #</th>
			</tr>
			<tr th:each="car : ${cars}">
				<td th:text="${car.drivers_id}">Name</td>
				<td th:text="${car.VIN}">Open Time</td>
				<td th:text="${car.insurance_verified_YorN}">Close Time</td>
				<td th:text="${car.color}">URL</td>
				<td th:text="${car.make}">Mailing Address</td>
				<td th:text="${car.model}">Phone Number</td>
				<td th:text="${car.plate_number}">Customer Rating</td>
			</tr>
		</table>
	</div>
	<div th:if="${cars.empty}">
		<h3>No Cars Found!</h3>
	</div>
</body>

</html>