<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Drivers</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Drivers</h1>
	<div th:if="${!drivers.empty}">
		<table>
			<tr>
				<th>Rating</th>
				<th>Name</th>
				<th>Phone Number</th>
			</tr>
			<tr th:each="driver : ${drivers}">
				<td th:text="${driver.rating}">Rating</td>
				<td th:text="${driver.getName()}">Name</td>
				<td th:text="${driver.getPhone_number()}">Phone Number</td>
			</tr>
		</table>
	</div>
	<div th:if="${drivers.empty}">
		<h3>No Drivers Found!</h3>
	</div>
</body>

</html>